Repository nintendoapis/nintendo-app-versions: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, trigger-analyse/splatnet3, trigger-analyse/nooklink, trigger-analyse/lhub, trigger-analyse/tournament-manager

Path conditions:
  pages: any of: .gitlab-ci.yml, data/*
  trigger-analyse/splatnet3: any of: data/splatnet3-app.json
  trigger-analyse/nooklink: any of: data/nooklink-app.json
  trigger-analyse/lhub: any of: data/lhub-app.json
  trigger-analyse/tournament-manager: any of: data/tournament-manager-app.json

Add Nintendo Today!
  scripts/notify.js
Due: none

Update versions
  data/aquavast-google-play.json
  data/aquavast-itunes.json
  data/aquavast-known.json
Due: pages

Update versions
  data/aquavast-google-play.json
Due: pages

Update dependencies, fail if Google Play returns different language
  package-lock.json
  package.json
  scripts/fetch-google-play.js
Due: none

Update dependencies, fail if Google Play returns different language
  scripts/fetch-google-play.js
Due: none

Update versions
  data/aquavast-google-play.json
  data/bremen-google-play.json
  data/coral-google-play.json
  data/entry-google-play.json
  data/moon-google-play.json
Due: pages

Update versions
  data/aquavast-itunes.json
  data/aquavast-known.json
Due: pages

Update versions
  data/bremen-itunes.json
  data/bremen-known.json
Due: pages

Update versions
  data/bremen-itunes.json
Due: pages

Update versions
  data/aquavast-google-play.json
  data/aquavast-known.json
Due: pages

Update versions
  data/lhub-app.json
  data/lhub-known.json
Due: pages, trigger-analyse/lhub

Update versions
  data/bremen-google-play.json
  data/bremen-known.json
Due: pages

Update versions
  data/entry-google-play.json
Due: pages

Update Nintendo CA
  .gitlab-ci.yml
  nintendo-ca-g4.pem
Due: pages

lhub 5.0.0-41a09d94
  scripts/lhub.js
Due: none

Update versions
  data/splatnet3-app.json
  data/splatnet3-known.json
Due: pages, trigger-analyse/splatnet3

Update versions
  data/bremen-google-play.json
  data/bremen-known.json
  data/coral-google-play.json
  data/coral-known.json
  data/moon-google-play.json
  data/moon-known.json
Due: pages

Update versions
  data/coral-known.json
  data/coral-nintendo-jp.json
  data/moon-known.json
  data/moon-nintendo-jp.json
Due: pages

Update versions
  data/coral-itunes.json
Due: pages

Update versions
  data/aquavast-itunes.json
  data/aquavast-known.json
  data/bremen-itunes.json
  data/bremen-known.json
Due: pages

Update versions
  data/moon-itunes.json
Due: pages

Update versions
  data/coral-nintendo-eu.json
Due: pages
