Repository nintendoapis/nintendo-app-versions: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, trigger-analyse/splatnet3, trigger-analyse/nooklink, trigger-analyse/lhub, trigger-analyse/tournament-manager

pages:
  stage: deploy
  image: alpine
  script:
  - mkdir -p public
  - cp -R data public
  artifacts:
    paths:
    - public
  environment:
    name: GitLab Pages
    url: $CI_PAGES_URL

trigger-analyse/splatnet3:
  stage: deploy
  trigger:
    project: $SPLATNET3_APP_RESOURCES_PROJECT

trigger-analyse/nooklink:
  stage: deploy
  trigger:
    project: $NOOKLINK_APP_RESOURCES_PROJECT

trigger-analyse/lhub:
  stage: deploy
  trigger:
    project: $LHUB_APP_RESOURCES_PROJECT

trigger-analyse/tournament-manager:
  stage: deploy
  trigger:
    project: $TOURNAMENT_MANAGER_RESOURCES_PROJECT

Update versions
  data/moon-nintendo-eu.json
Due: pages

Update versions
  data/moon-itunes.json
  data/moon-known.json
Due: pages

Update versions
  data/bremen-google-play.json
  data/bremen-known.json
Due: pages

Update versions
  data/moon-nintendo-jp.json
Due: pages

Update versions
  data/aquavast-google-play.json
Due: pages

Update versions
  data/entry-google-play.json
Due: pages

Update versions
  data/bremen-itunes.json
  data/bremen-known.json
Due: pages

Update versions
  data/aquavast-itunes.json
  data/aquavast-known.json
Due: pages

Update versions
  data/moon-google-play.json
Due: pages

Update versions
  data/aquavast-google-play.json
  data/aquavast-known.json
Due: pages

Update versions
  data/moon-google-play.json
  data/moon-known.json
  data/moon-nintendo-jp.json
Due: pages

Update versions
  data/lhub-app.json
  data/lhub-known.json
Due: pages, trigger-analyse/lhub

Update versions
  data/coral-google-play.json
  data/coral-known.json
Due: pages

Update versions
  data/coral-nintendo-eu.json
Due: pages

Update versions
  data/coral-nintendo-jp.json
Due: pages

Update versions
  data/nooklink-app.json
  data/nooklink-known.json
Due: pages, trigger-analyse/nooklink

Update versions
  data/splatnet3-app.json
  data/splatnet3-known.json
  data/tournament-manager-app.json
  data/tournament-manager-known.json
Due: pages, trigger-analyse/splatnet3, trigger-analyse/tournament-manager

Update versions
  data/tournament-manager-app.json
  data/tournament-manager-known.json
Due: pages, trigger-analyse/tournament-manager

Update versions
  data/entry-google-play.json
  data/entry-known.json
Due: pages

Update versions
  data/entry-itunes.json
  data/entry-known.json
Due: pages

Update versions
  data/entry-itunes.json
Due: pages

Update versions
  data/lhub-app.json
Due: pages, trigger-analyse/lhub

Update versions
  data/coral-google-play.json
Due: pages

Path conditions:
  pages: any of: .gitlab-ci.yml, data/*
  trigger-analyse/splatnet3: any of: data/splatnet3-app.json
  trigger-analyse/nooklink: any of: data/nooklink-app.json
  trigger-analyse/lhub: any of: data/lhub-app.json
  trigger-analyse/tournament-manager: any of: data/tournament-manager-app.json
